/* Core Styles */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  /* Default font size = 16px = 1em */
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  /* Makes it 100% size of its container */
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  /* As was running into the next-element and didn't want it to span entire width */
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #eee;
}

/* Header Showcase */
#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  /* Need absolute as it will go over showcase div */
  position: absolute ;
  /* background: #333 url('https://static.pexels.com/photos/577585/pexels-photo-577585.jpeg'); */
  background: #333 url('images/glasses-and-laptop.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* 
    Be sure this is the same size of the parent #showcase
    because we are placing it on top of it
  */
  height: 450px;
  /*
  Before the following - the image was ontop of all text in header.
  The larger the number the closer it is to you. Hence the negative
  value will place the image behind the text.
  */
  z-index: -1;
  /* Fade the image */
  opacity: 0.2;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap, 
#section-a .content-wrap{
  padding: 0 1.5em;
}

/* Section A */
#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/* Section B */
#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

